@import './constants.less';

@font-family: K2D, Inter, sans-serif;

@border-radius-base: 4px;
@component-background: @color-input-background;
@select-background: white;
@input-placeholder-color: @color-input-placeholder;
@text-color: @color-text;
@font-size-base: 16px;
@primary-color: @color-iron-man;

@table-bg: rgba(black, 0.7);
@table-header-bg: black;
@table-header-color: white;
@table-row-hover-bg: black;
@table-border-color: transparent;

.ant-table {
    tbody {
        .ant-table-cell {
            color: gray !important;
            background: rgba(black(0.7)) !important;
        }

        .ant-table-cell-row-hover {
            cursor: pointer;
            color: white !important;
            background: black !important;
        }
    }
}