@import './constants.less';

@font-family: K2D, Inter, sans-serif;

@border-radius-base: 4px;
@component-background: @color-input-background;
@select-background: white;
@input-placeholder-color: @color-input-placeholder;
@text-color: @color-text;
@font-size-base: 20px;
@primary-color: @color-background;
