@import '~styles';

$header-height: 80px;
$footer-height: 200px;

.page {
    position: relative;
    min-height: 100vh;

    .header {
        width: 100%;
        position: fixed;
        color: $color-control;
        top: 0;
        height: $header-height;
        background: black;
        padding-left: $layout-left-padding;
        padding-right: $layout-right-padding;
        box-sizing: border-box;
    }

    .body {
        width: 100%;
        padding-top: $header-height;
        padding-bottom: $footer-height;
        color: $color-control;
        box-sizing: border-box;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $footer-height;
        background: black;
        color: $color-control;
        padding-left: $layout-left-padding;
        padding-right: $layout-right-padding;
        box-sizing: border-box;
    }
}
