@import '~styles';

.page-content-wrapper {
    width: 100%;
    padding: 50px $layout-right-padding 80px $layout-left-padding;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
