@import '~styles';

.LoginForm {
    ::placeholder {
        text-align: center;
        color: $color-input-placeholder !important;
    }

    .ant-input {
        font-size: 20px;
        border-radius: 8px;
        background: $color-input-background;
        color: $color-input-text;
    }

    .login-button {
        font-size: 24px;
        border-radius: 8px;
        box-sizing: content-box;
        width: auto;
    }
}
